.card{
	height:500px;
	background-color: #f1f0f1;
}

.card img{
	max-width: 100%;
	width: 100%;
	height: 250px;
}

.card hr{

	border-top: 1px solid #ccc;
}

.card-text{
	padding: 20px;
}

.col-md-4{
	padding-top: 50px; 
}

.navbar-brand{
	padding: 0px;
	position: absolute;
    left: 45%;
    display: block;    
    text-align: center;
}

.logo{
	width: 90px;
	height: 50px;
}
.footer {
 	position: relative;
 	bottom: 0;
 	width: 100%;
  	margin-top: 50px;
  	padding: 75px;
  	height: 268px;
 	background-color: #111;
 	
}
 
.footer .fa {
     opacity: 0.7;
     transition: 1s;
     -webkit-transition: 1s;
     color: white;
}
 
.footer .fa:hover{
 	opacity: 1;
 	transition: 1s;
 	-webkit-transition: 1s;
}
 
.footer .container{
 	margin-top: 50px;
 	color: #fff;
 	width: 100%;
 	text-align: center;
}
 
.footer .text-muted{
 	position: absolute;
 	bottom: 20px;
}
 
@media screen and (max-device-width: 768px) {
	.navbar-brand{
		padding: 0px;
		position: absolute;
		left: 0%;
		display: block;    
		text-align: center;
	}
}